.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #5c94fc;
  background-image: url('/Users/berkakaz/Documents/GitHub/AIProject/my-app/public/wp7619435-1129158146.jpeg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #1a39d0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 2%;
}

.text {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; /* Ensures rounded corners for the text area */
}

.text:hover { /* Applies styles when hovering over the element */
  background-color: #ddd; /* Optional: Add subtle background color on hover */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* Optional: Subtle shadow on hover */
  /* Further hover effects can be added here, e.g., text color change */
}

/* App.css */

/* Super Mario tarzı arkaplan */
.background {
  background-color: #5c94fc;
  background-image: url('/Users/berkakaz/Documents/GitHub/AIProject/my-app/public/wp7619435-1129158146.jpeg');
  background-size: cover;
  height: 130vh;
  position: relative;
}

/* Mario karakteri */
.character {
  position: absolute;
  bottom: 40px;
  left: 50px; /* Başlangıç pozisyonu */
  width: 40px;
  height: 60px;
  background-image: url('/Users/berkakaz/Documents/GitHub/AIProject/my-app/public/mariobros-ayr-intro-3298581737.png');
  background-size: contain;
}
